.App{
  margin: auto;
  border: 1px solid gray;
  max-width: 50%;
  min-height: 400px;
  background-color: rgb(92, 121, 175);
}

.dummy{
  margin: auto;
  border: 1px solid gray;
  max-width: 50%;
  min-height: 200px;
  background-color: rgb(175, 160, 92);
}