.container{
  display: flex!important;
  flex-direction: row!important;
  justify-content: center!important;
  align-items: center!important;
  border: 2px solid grey!important;
  width: 30%!important;
  height:100px!important;
  margin: 100px auto;
}

.uploadedfile-list{
  position: absolute;
  top:200px;
  font-size: medium;
}

i{
  float: right;
  word-wrap: break-word;
  margin-top: 5px;
  padding-left: 10px;
}