.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 800px;
  max-height: 800px;
  margin: 30px auto;

}

ul{
  overflow: auto;
  max-height: 500px;
  border:0.5px solid gray;
}

ul > li {
  padding: 10px;
}

.card:hover{
  box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.253)!important;
}